/* state pseudo class */
/*
a:link {
    color:red;
    background-color:yellow;
}
a:visited{
    color:green;
    background-color:cyan;
}
a:hover {
    color:hotpink;
    background-color: lightgreen;
    font-size:24px;
}
a:active {
    color:blue;
    font-size:hotpink;
}
a:link, a:visited {

}

/* position class */
/*
a:first-child {
    text-transform: uppercase
}
a:last-child {
    border:2px solid black;
}
a:nth-child(odd) {
    padding-left: 100px
}
a:nth-child(2) {
    text-shadow: 1px 1px 1px black;
}
a:not(a:last-child) {
    font-family:fantasy;
}

/* css list */
/*
ul.a {
    list-style-type:circle
}
ul.b {
    list-style-type: square;
}
ol.c {
    list-style-type: upper-alpha;
    list-style-image: url('search_360.png');
    list-style-position: inside;
}

/* css tables */
/*
table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
}
table {
    width:100%;
}

th,td {
    height:70px;
    text-align:center;
    vertical-align:bottom;
}
tr.a:nth-child(odd) {
    background-color: gray;
}
tr.a:hover {
    background-color: coral;
} */

/* css display */
/*
li {
    display:inline;
}
span {
    display:block;
}
/*
h1.hidden {
    display:none;
} */ /*
h1.hidden {
    visibility:hidden;
} 
/*
span.a {
    display:inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 15px;
    border: 1px solid blue;
    background-color: yellow;
}
span.b {
    display:block;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin: 15px;
    border: 1px solid blue;
    background-color: yellow;
}
span.c {
    display:inline-block;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid blue;
    background-color: yellow;
} 

/* eğer sadece width ve height kullanmak istiyor fakat alt satıra geçmesini istemiyorsak inline-block kullanılır. */
/* inline elementlerde padding sağlıklı çalışmaz. Normalde, dikeyde aşağı kaydırması gerekirken kaydırma yapmaz */
/* inline elementlerde margin sadece yatay istikamette ya da boyutta çalışır */

/* div.box1 {
    width:100px;
    height:100px;
    background-color: yellow;
    position:relative;
    left:25px;
}
div.box2 {
    width:100px;
    height:100px;
    background-color: red;
    position:absolute;
    left:50px;
}
div.box3 {
    width:100px;
    height:100px;
    background-color: blue;
    position:static;
    left:25px;
}

div.kırmızı {
    width: 400px;
    height: 400px;
    background-color: red;
    margin-top: 30px;
    position: relative;
}

div.mavi {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
} */

/* z-index */

div.box1 {
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 26;
}

div.box2 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 25;
}

div.box3 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    left: 75px;
    top: 75px;
}